.ddsmoothmenu1{
font: bold 12px Verdana;
background-image:url(../images/bg_menuphu.png);
width: 860px;
margin:auto;
height:25px;
}
.classline{
	width:1px;
	height:31px;
	background-image:url(../images/bg_linephu.png);
}
.ddsmoothmenu1 ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu1 ul li{
position: relative;
display: inline;
float: left;
text-align:center;
height:33px;
}

/*Top level menu link items style*/
.ddsmoothmenu1 ul li a{
display: block;
color: #8f0101;
margin:7px 12px;
color: #2d2b2b;
text-decoration: none;
height:28px;
}

* html .ddsmoothmenu1 ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu1 ul li a:link, .ddsmoothmenu1 ul li a:visited{
color: #8f0101
}

.ddsmoothmenu1 ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#FFF; 
color:#000;
}

.ddsmoothmenu1 ul li a:hover{

 /*background of menu items during onmouseover (hover state)*/
color:#F0F;

}
	
/*1st sub level menu*/
.ddsmoothmenu1 ul li ul{
position: absolute;
background:#EDECC9;
margin-left:12px;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu1 ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu1 ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu1 ul li ul li a{
font: normal 13px Verdana;
width: 168px; /*width of sub menus*/
padding: 3px;
margin: -1;
border-top-width: 0;
border-bottom: 1px solid gray;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu1{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}
